MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=nutritrack
MYSQL_USER=nutritrackuser
MYSQL_PASSWORD=

DB_ENGINE=mariasql
DB_HOST=database # This must match the name of the database service in your compose.yml file
DB_PORT=3306
DB_CHARSET=utf8mb4

PORT=80
API_SECRET_KEY=